#!/bin/sh

xrdb -load ~/.Xresources

xset +fp /home/andy/.fonts/
xset +fp /usr/share/fonts/TTF/
xset +fp /usr/share/fonts/PCF/
xset fp rehash

feh --bg-fill ~/.wallpapers/tree.png
compton -cCzGb -t-3 -l-5 -r4 --config /dev/null --backend xrender --unredir-if-possible

export _JAVA_AWT_WM_NONREPARENTING=1

xsetroot -cursor_name left_ptr &

#./.nv/fans &
pulseaudio --start

sxhkd -c ~/.config/sxhkd/sxhkdrc_bspwm &
~/.config/polybar/launch.sh

~/Build/Discord/Discord &
spotify &

owncloud &

bspwm
