#!/bin/zsh

xrdb -load ~/.Xresources

xset +fp /home/andy/.fonts/
xset +fp /usr/share/fonts/TTF/
xset +fp /usr/share/fonts/PCF/
xset fp rehash

if [ -d "$HOME/.local/bin" ] && (! echo $PATH | grep -q "$HOME/.local/bin"); then
    export PATH="$HOME/.local/bin:$PATH"
fi

feh --bg-fill ~/.wallpapers/tree.png
compton -cCzGb -t-3 -l-5 -r4 --config /dev/null --backend xrender --unredir-if-possible

export _JAVA_AWT_WM_NONREPARENTING=1

xsetroot -cursor_name left_ptr &

#./.nv/fans &
#pulseaudio --start
pipewire &

#export SXHKD_SHELL=/bin/zsh
#sxhkd -c ~/.config/sxhkd/sxhkdrc_bspwm &
#~/.config/polybar/launch.sh
#
#~/Build/Discord/Discord &
#spotify &
#
#owncloud &

export MONITOR_1="DP-0"
export MONITOR_2="DVI-D-0"
#export MONITOR_2="HDMI-0"

if [[ -z "${_DESKTOP_USER_}" ]]; then
    #statements
else
    dbus-launch --sh-syntax --exit-with-session bspwm
fi
