layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_hide_on_overlength "true"
                format_precedence         "lrc"

                format_left "{mode}#[bg=bright_blue,fg=yellow] {session} #[fg=bright_blue] {tabs}"
                format_center "{notifications}"
                //format_right  "#[fg=white]{command_cpu} | {command_mem} #[fg=white]#[bg=white,fg=yellow] {command_user}@{command_host} #[bg=white,fg=black]#[fg=white] {datetime} "
                format_right  "#[fg=white]#[bg=white,fg=yellow] {command_user}@{command_host} #[fg=white]#[fg=white] {datetime} "
                format_space  "#[fg=white]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=$bg1]{char}"
                border_position "top"

                hide_frame_for_single_pane       "false"
                hide_frame_except_for_search     "true"
                hide_frame_except_for_fullscreen "true"

                mode_locked        "#[fg=blue]▋#[fg=bright_yellow,bold]LOCKED#[fg=bright_blue]"
                mode_normal        "#[fg=blue]▋#[fg=bright_yellow,bold]NORMAL#[fg=bright_blue]"
                mode_tmux          "#[fg=green]▋#[fg=bright_yellow,bold]TMUX#[fg=bright_blue]"
                mode_pane          "#[fg=red]▋#[fg=bright_yellow,bold]PANE#[fg=bright_blue]"
                mode_tab           "#[fg=red]▋#[fg=bright_yellow,bold]TAB#[fg=bright_blue]"
                mode_scroll        "#[fg=red]▋#[fg=bright_yellow,bold]SCROLL#[fg=bright_blue]"
                mode_enter_search  "#[fg=red]▋#[fg=bright_yellow,bold]ENT-SEARCH#[fg=bright_blue]"
                mode_search        "#[fg=red]▋#[fg=bright_yellow,bold]SEARCH#[fg=bright_blue]"
                mode_resize        "#[fg=red]▋#[fg=bright_yellow,bold]RESIZE#[fg=bright_blue]"
                mode_rename_tab    "#[fg=red]▋#[fg=bright_yellow,bold]RENAME#[fg=bright_blue]"
                mode_rename_pane   "#[fg=red]▋#[fg=bright_yellow,bold]RENAME#[fg=bright_blue]"
                mode_move          "#[fg=red]▋#[fg=bright_yellow,bold]MOVE#[fg=bright_blue]"
                mode_session       "#[fg=red]▋#[fg=bright_yellow,bold]SESSION#[fg=bright_blue]"
                mode_prompt        "#[fg=red]▋#[fg=bright_yellow,bold]PROMPT#[fg=bright_blue]"

                // Inactive Tabs
                tab_normal                "#[fg=bright_blue]#[bg=bright_blue,fg=black]{index}#[fg=black,bg=bright_blue]#[fg=bright_blue,bg=black] {name} {floating_indicator} #[fg=black]"
                tab_normal_fullscreen     "#[fg=bright_blue]#[bg=bright_blue,fg=black]{index}#[fg=black,bg=bright_blue]#[fg=bright_blue,bg=black] {name} {fullscreen_indicator} #[fg=black]"
                tab_normal_sync           "#[fg=bright_blue]#[bg=bright_blue,fg=black]{index}#[fg=black,bg=bright_blue]#[fg=bright_blue,bg=black] {name} {sync_indicator} #[fg=black]"

                // Active tabs
                tab_active                "#[fg=green]#[bg=green,fg=black]{index}#[bg=green,fg=bright_green]#[bg=bright_green,fg=black] {name} {floating_indicator} #[fg=bright_green]"
                tab_active_fullscreen     "#[fg=green]#[bg=green,fg=black]{index}#[bg=green,fg=bright_green]#[bg=bright_green,fg=black] {name} {fullscreen_indicator} #[fg=bright_green]"
                tab_active_sync           "#[fg=green]#[bg=green,fg=black]{index}#[bg=green,fg=bright_green]#[bg=bright_green,fg=black] {name} {sync_indicator} #[fg=bright_green]"

                tab_separator           "#[fg=blue]"

                tab_sync_indicator       ""
                tab_fullscreen_indicator "󰊓"
                tab_floating_indicator   "󰹙"

                notification_format_unread "#[fg=magenta]#[bg=magenta,fg=black] {message} #[fg=magenta]"
                notification_format_no_notifications ""
                notification_show_interval "10"

                command_host_command    "uname -n"
                command_host_format     "{stdout}"
                command_host_interval   "0"
                command_host_rendermode "static"

                command_user_command    "whoami"
                command_user_format     "{stdout}"
                command_user_interval   "0"
                command_user_rendermode "static"

                command_cpu_command  "bash -c '~/.config/zellij/plugins/system.sh cpu'"
                command_cpu_format   "#[fg=bright_cyan]CPU: {stdout}"
                command_cpu_interval   "5"
                command_cpu_rendermode "static"

                command_mem_command  "bash -c '~/.config/zellij/plugins/system.sh mem'"
                command_mem_format   "#[fg=bright_magenta]MEM: {stdout}"
                command_mem_interval   "5"
                command_mem_rendermode "static"

                datetime          "{format}"
                datetime_format   "%Y-%m-%d %H:%M"
                datetime_timezone "America/New_York"
            }
        }
    }
}
