themes {
    gruvbox-light {
//        fg #3C3836
//        bg #fbf1c7
//        black #282828
//        red #cd4b45
//        green #98971a
//        yellow #d79921
//        blue #458588
//        magenta #b16286
//        cyan #689d6a
//        white #d5c4a1
//        orange #D65D0E

        fg 60 56 54                 // #3C3836
        bg 251 82 75                // #fb524b
        black 40 40 40              // #282828
        red 205 75 69               // #cd4b45
        green 152 151 26            // #98971a
        yellow 215 153 33           // #d79921
        blue 69 133 136             // #458588
        magenta 177 98 134          // #b16286
        cyan 104 157 106            // #689d6a
        white 213 196 161           // #d5c4a1
        orange 214 93 14            // #D65D0E
    }
    gruvbox-dark {
//        fg #d5c4a1
//        bg #282828
//        black #3c3836
//        red #cc241d
//        green #98971a
//        yellow #d79921
//        blue #458588
//        magenta #b16286
//        cyan #689d6a
//        white #fbf1c7
//        orange #D65D0E

        fg 213 196 161              // #d5c4a1
        bg 40 40 40                 // #282828
        black 60 56 54              // #3c3836
        red 204 36 29               // #cc241d
        green 152 151 26            // #98971a
        yellow 215 153 33           // #d79921
        blue 69 133 136             // #458588
        magenta 177 98 134          // #b16286
        cyan 104 157 106            // #689d6a
        white 251 241 199           // #fbf1c7
        orange 214 93 14            // #D65D0E
    }
}
